{% extends "bootstrap/base.html" %}


    {% block content %}
    <h2>{{topic}}</h2>

    <div>
        <h1>Sorting Visualiser</h1>
        <h2>Enter your array seperated by spaces and click on (Show me) to visualise!</h2>
        <h3>Please reset after each use, has some bugs still</h3>
       <select name="sorter" id="sorter">
  <option value="bubble sort">bubble sort</option>
  <option value="selection sort">selection sort</option>
</select> 
</div>
         <input type="text" id="lname" name="lname">
        <button type="button" >Show me!!!!!!!</button>

        <a href="{{ url_for('index') }}">Reset</a>
	    <canvas id="line-chart" class="chartsjs" width="3" height="1" style="display:block; width:800, height:450"></canvas>
	</div>

    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
        var arrayStates;
        var labels =[]
        var x = {"hello":"hello"};
    $("button").click(function translate() {
        var textboxvalue = $('input[id="lname"]').val();
        var sor = $( "#sorter option:selected" ).text()
        console.log(textboxvalue)
        var arr = [textboxvalue,sor]
        var send = arr.join('x')
        
        $.ajax({
  type: 'POST',
  url: "/sort",
  data: send, 
  contentType: 'application/json;charset=UTF-8',
  success: function(data){
      arrayStates = data['array'];
      asyncCall(arrayStates[0].length)
      getData();
  }
})
    
            });
    async function asyncCall(x) {
  // expected output: "resolved"
  for(var i=0;i<x;i++){
      await labels.push(i+1)

  }

}
    console.log(arrayStates)
	data = JSON.parse({{ data | tojson }})
    // arrayStates = JSON.parse({{ arrayStates | tojson }})
    // console.log(arrayStates)
	// var myLineChart = new Chart(document.getElementById("line-chart"),{
	// 	"type":"bar",
	// 	"data":
	// 		{"labels":labels,
	// 		"datasets":[{
	// 		"data":	data,
    //         "backgroundColor" : []
    //     			}]},
	// 	"options":{legend: { display: false }}});
    var chartdata = {
		"type":"bar",
		"data":
			{"labels":labels,
			"datasets":[{
			"data":	data,
            "backgroundColor" : []
        			}]},
		"options":{legend: { display: false }}} ;
    var LineChart = document.getElementById("line-chart");
    var myLineChart = new Chart(LineChart,chartdata);


    adddata = async(arrayStates) => {
        console.log("now")
        for(var i=0;i<arrayStates.length;i++){
           var x = myLineChart.data.datasets[0].data[i]
           myLineChart.data.datasets[0].data[i] = arrayStates[i] 
           f = []
           if(x!=arrayStates[i])
           {
             myLineChart.data.datasets[0].backgroundColor[i] =  "rgba(179, 140, 255, 1)" 
             f.push(i)
           }
           else
           {
               myLineChart.data.datasets[0].backgroundColor[i] =  "rgba(0, 255, 124, 1)"
           }
        }
myLineChart.update()
    }

    const getData = async () => {
    for(var i=0;i<arrayStates.length;i++){
        newarr = arrayStates[i]
        await new Promise(r => setTimeout(r, 1000));
        adddata(newarr)
        console.log(i)
    }  } 
    // getData()
    
        
        
    
    </script>

    {% endblock %}
    {% endblock %}

    

